header {
    text-align: center;
    background: tan;
    padding: 30;
    outline: 2px solid black;
    background-image: url('Images/photo2.webp');
}

body {
    background: gainsboro;
    background-image: url('Images/photo2.webp');
    background-size: cover;
}

h1 {
    font-family: Trattatello, fantasy;
    font-size: xxx-large;
}

h2{
    margin: 60;
    font-family: Trattatello, fantasy;
    font-size: xx-large;
}

section {
    text-align: center;
}

h3{
    margin: 60;
    text-align: center;
    text-decoration-line: underline;
    font-family: Trattatello, fantasy;
    font-size: xx-large;
}

h4{
    margin: 60;
    font-family: Trattatello, fantasy;
    font-size: xx-large;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
    font-family: Trattatello, fantasy;
}

tbody {
    text-align: center;
}

th,td {
    border: 2px solid black;
}

